header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 12px;
  box-sizing: border-box;
}

.header__items {
  width: 100%;
  max-width: 1000px;
  height: fit-content;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  width: fit-content;
}

.header__logo > h1 {
  padding: 0 5px;
  font-weight: 600;
  width: fit-content;
}

.header__logo > svg {
  width: 44px;
  height: auto;
  margin: 5px;
  color: #03a9f4;
}

.header__items > nav {
  width: fit-content;
}

.header__items > nav > ul > {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.header__items > nav > ul > li {
  margin: 0 10px;
  display: inline;
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 350px) {
  header {
    height: 135px;
  }
}
