.section__services {
  width: 100%;
  max-width: 1000px;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 70px 15px;
  box-sizing: border-box;
}

.section__services__text {
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__services__text > h2,
p {
  width: 100%;
}

.section__services__text > h2 {
  font-size: 38px;
}

.section__services__text > p {
  display: inline-block;
  margin-top: 20px;
  font-size: 20px;
  color: #848b94;
}

.section__services__feature {
  margin-top: 70px;

  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.section__services__feature-text {
  width: 50%;
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__services__feature-text > h3,
p {
  width: 95%;
}

.section__services__feature-text > h3 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}

.section__services__feature-text > p {
  color: #848b94;
  font-size: 20px;
}

.section__services__feature-img {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__services__feature-img > img {
  width: 90%;
  height: auto;
  margin: 40px;
}

@media screen and (max-width: 500px) {
  .section__services__feature {
    width: 100%;
    flex-direction: column;
  }

  .section__services__feature-text,
  .section__services__feature-img,
  .section__services__feature-text > h3,
  p {
    width: 100%;
  }
}
