.section {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blue {
  background-color: #f7fbff;
}

.white {
  background-color: #fff;
}
